name: Generate Javadoc

on:
  push:
    branches: [ main ] # 或者是 master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          
      - name: Build Javadoc
        # 如果你是 Gradle，改成 ./gradlew javadoc
        run: mvn javadoc:javadoc 
        
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: target/site/apidocs # Gradle通常是 build/docs/javadoc
